.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-self: center;   
    width: 1700px;
}
.book {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
    
}
.book img {
    height: 400px;
    width: 300px;
}
.inputBook {
    height: 40px;
    font-size: 28px;
    width: 350px;
}
.searchBook {
    height: 43px;
    font-size: 32px;
    margin-left: 20px;
    cursor: pointer;
}
.notif {
    font-size: 32px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}
.loading-container span {
    font-size: 32px;
}
.loading-animation {
    height: 70px;
    width: 70px;
    border: 10px solid black;
    border-radius: 100%;
    border-top-color: white;
    animation: loading 1s linear infinite;
    align-self: center;
}
@keyframes loading {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}
.book:hover .star {
    opacity: 1;
}

.star button {  
    pointer-events: auto;
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star button img {
   height: 100px;
   width: 100px;
}

.Notification {
    position: absolute;
    border: solid 5px black;
    border-radius: 10px;
    margin-left: 1000px;
    height: 60px;
    width: 300px;
    font-size: 23px;
    animation: fadeInOut 3s ease forwards;
}
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
